/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

/*asteroid{
  height: 200px;
  width: 200px;
  position: absolute;
  background-image: url('asteroid.png');
}
*/
.main{
  background-color: black;
  background-image: url('space-background.jpg');
  border: 4px solid black;
  height: 800px;
  width: 800px;
}
.mainSvg{
  height: 800px;
  width: 800px;
}
